.appbar_name{
    font-size: 18px;
    text-align: center;
    color: white;
    padding: 10px;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 45px;
    color:aqua;
  }

  h1{
    padding: 10px;
    font-family: serif;
    color: rgb(205, 66, 184);
  }
  img{
    width:400px;
    height:400px;
  }